body {
  background-color: black;
  color:whitesmoke;
  margin:0px;
  /* background-image: url("assets/Moon_1.JPG");
  background-size: 100% ;
  background-repeat: no-repeat; */
  font-family: 'Oxygen';
  line-height: 1.25;
}
.header {
  text-align: left;
  padding-left: 10px;
}
.content {
  text-align: justify;
  padding: 10px;
  margin: 0px 10px ;
  font-size: 18px;
}
.imgAlign{
  width:30%;
  height: auto;
  float: right;
}
a {
  text-decoration: none;
  color:#6a8ed6;
  ;
}
a:hover{
  color:rgb(200,10,10);
  text-decoration: underline;
}
@media (max-width: 480px) {
  /* body {
      background-image: url(assets/Moon_2.JPG);
      background-position-y: 11vh;;
  } */
  .imgAlign{
    display:block;
    margin: auto;
    float: none;
    padding: 2% 10%;
    min-width: 250px; 
  }
}
@media (min-width:481px) and (max-width:900px){
  /* body{
    background-position-y: 7vh ;
  } */
  .imgAlign{
    display:block;
    margin: auto;
    float: none;
    padding: 2% 10%;
  }
}/* 
@media (min-width:901px){
  body{
    background-position-y: -10vh ;
  }
  .imgAlign{}
} */