body {
  background-color: black;
  color:whitesmoke;
  margin:0px;
  background-image: url("assets/Moon_1.JPG");
  background-size: 100% ;
  background-repeat: no-repeat;
  font-family: 'Oxygen';
}
.header {
  text-align: left;
  padding-left: 10px;
}
.content {
  text-align: justify;
  padding: 10px;
  margin-left: 10px ;
  font-size: 18px;
}
a {
  text-decoration: none;
  color:#6a8ed6;
  ;
}
a:hover{
  color:rgb(200,10,10);
  text-decoration: underline;
}
@media (max-width: 480px) {
  body {
      background-image: url(assets/Moon_2.JPG);
      background-position-y: 11vh;;
  }
}
@media (min-width:481px) and (max-width:1024px){
  body{
    background-position-y: 7vh ;
  }
  .content{
    width:50%;
  }
}
@media (min-width:1025px){
  body{
    background-position-y: -10vh ;
  }
}